@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-surface-50: #ffffff;
  --color-surface-200: #cdd9e0;
  --color-surface-800: #25262e;

  --color-primary-200: #98d8f1;
  --color-primary-500: #009cd8;
  --color-primary-700: #10598e;

  --color-dashbord-bg: #f3fafe;
  --color-dashbord-bg-dark: #151d32;

  --color-card-bg: #e1e9ee;
  --color-card-bg-dark: #292f45;

  --color-text: #003464;
  --color-text-dark: #f3f4f7;
}
